body {
    /* This did not create a margin between the other elements, 
    this needs to be done individually */
   /* padding: 10px; */
   font-family: 'Merriweather Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
   text-align: center;
   margin: 0;
}

/* HEADER */




.main-header {
    width: 100%;
    padding: 8px 16px;
font-weight:0;
    margin-bottom: 0;
   top: 0; 
    position: fixed;
   z-index:2;
    background-color: rgb(254, 254, 254); /* Fully opaque very light grey */
    /* included border and padding in viewport not content-box */
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 0;
}


.main-header > div {
    display: inline-block;
    /* this aligns text in the middle of a div */
    vertical-align: middle;
}

.main-header__brand {
font-weight: 500;
font-size: 22px;
text-align: right;
text-decoration: none;
}

/* NAV SECTION */

/* Call to action stands out */
.main-nav__item--cta a {
    background: #ffbda8;
    
    /* top and bottom first, left and right */
    padding: 8px 16px;
    border-radius: 8px;
    }
    
    .main-nav__item--cta a:hover, .main-nav__item--cta a:active { 
    background: #ffa69e;
    text-shadow: #FAF3DD;
    }
    
    
    
    .main-nav__item a:active {
        font-weight: bold;
    }

.main-nav {
    display: inline-block;
    text-align: right;
    /* this makes the nav smaller so that the brand can fit inline (block); */
    width: calc(100% - 300px);
    vertical-align: middle;

   
}
 
#contactBtn:hover {
    box-shadow:1px 1px 3px 2px rgb(197, 197, 197);
}

ul a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 0;
   

}
.main-nav__items {
    /* list style gets rid of default underlined links */
    margin: 0;
    padding: 0;
    list-style: none;
    /* text-decoration only works from anchor tag - this will have no effect. */
    /* text-decoration: none; */
}

.main-nav__item {
   /* inline-block allows margin and padding sizing, inline */
    display: inline-block;
    /* this styles it on one line-readable. */
    margin: 10px 40px;
 text-decoration: none;
 font-family: "l"

}
 a {
    color: black;
    
 }

 /* 
grouping stylesheets if the value is the same */
.main-nav__item a:hover {
    color: #013e3e;
    font-weight: bold;
}




/* END OF NAV SECTION */

.color-red {
    color: red;
  }

.main-footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dd9d8956;
    margin-top: 50px;
    padding: 32px;
}



.main-footer ul {
    /* display: flex; */
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    list-style: none; 
    text-align: center;
    /* width: 55%;
    justify-content: center; */
  
}



.main-footer li {
   
    color: grey;
    font-weight: 500;
    display: inline-block;
    /* top and bottom 0, left right 16px */
    /* this is where to change the margin of the list items */
   margin: 0 25px;

}

.main-footer a {
 
    color: grey;
    font-weight: 500;
    /* defines how long the transition effect should take to complete.  */
    transition: transform 1s ease;
   
   
}

.main-footer a:hover {

    color: rgb(90, 89, 89);
}

.main-footer a:active {
    
    color: rgb(102, 102, 102);
    /* The scale(0.8) value reduces the size of the anchor tags 
    to 80% of their original size, creating a zoom-out effect during the click or interaction. */
    transform: scale(0.7);

}
